@import "reset.css";

html[class~='dark'] {
    --bg-page1: #121212;
    --bg-card1: #1E1E1E;
    --bg-element1: #121212;
    --bg-element2: #121212;
    --bg-element3: #1E1E1E;
    --bg-element4: #c5c5c5;
    --text1: #ECECEC;
    --text2: #D9D9D9;
    --text3: #ACACAC;
    --text4: #595959;
    --primary1: #12B886;
    --primary2: #20C997;
    --shadow: rgba(255, 255, 255, 0.2);
    --border: #ECECEC;
    --form-border: #ECECEC;
    --error: #f56f6f;
    --important: #ef3636;

}

html[class~='light'] {
    --bg-page1: #F8F9FA;
    --bg-card1: #FFFFFF;
    --bg-element1: #FFFFFF;
    --bg-element2: #F8F9FA;
    --bg-element3: #F1F3F5;
    --bg-element4: #343A40;
    --text1: #212529;
    --text2: #495057;
    --text3: #868E96;
    --text4: #CED4DA;
    --primary1: #12B886;
    --primary2: #20C997;
    --shadow: rgba(0, 0, 0, 0.2);
    --border: #212529;
    --form-border: #ADB5BD;
    --error: #ff5b5b;
    --important: #ef3636;
}

/* 레이아웃 공용 디자인 */
body {
    font-family: 'Noto Sans KR', 'sans-serif', -apple-system;
    background-color: var(--bg-page1);
}

div, p, h1, h2, h3, h4, h5, h6, input {
    color: var(--text1)
}


.container {
    width: 100%;
}

.inner-container {
    max-width: 1560px;
    margin: 0 auto;
}

/*폰트 공용 디자인*/
.title {
    font-weight: bold;
    font-size: 30px;
}

.explain {
    color: var(--text3)
}

/* 서브 설명 문구 */
.bolder {
    font-weight: 500;
}

.inner-width {
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.header .logo {
    height: 30px;
    color: var(--text1);
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 1.3px
}

.header .mode-toggle-btn {
    color: var(--text1);
    vertical-align: middle;
    margin-right: 3px;
}

.header .search-btn {
    color: var(--text1);
}

.header .write-posting-btn {
    border: 1px solid var(--text1);
   background-color: white;
    border-radius: 1rem;
    padding: 5px 1rem;
    margin: 0 1rem;
}

.header .write-posting-btn:hover {
    background-color: var(--text1);
    color: var(--bg-element1);
    box-shadow: none;
}

.header .login-btn {
    background-color: var(--text1);
    color: var(--bg-element1);
    border-radius: 30px;
}

.header .login-btn:hover {
    background-color: var(--text1);
    color: var(--bg-element1);
    box-shadow: none;
}


/*로그인*/
.login-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: var(--bg-page1);
}

.login-container .login-modal {
    width: 390px;
    background-color: var(--bg-card1);;
    border-radius: 10px;
    overflow: hidden;
    padding: 77px 55px 33px 55px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

.login-form .login-logo {
    display: block;
    margin: 0 auto;
    width: 180px;
}

.login-form .login-inputs {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 37px;
}

.login-form .login-inputs .login-input {
    font-size: 15px;
    color: var(--text1);
    line-height: 1.2;
    border: none;
    display: block;
    width: 100%;
    height: 45px;
    background-color: transparent;
    padding: 0 5px;
}

.login-form .login-inputs .login-input:focus {
    outline: 0;
}

.MuiButton-root.login-btn-full {
    margin-top: 15px;
    font-size: 17px;
    background-color: var(--primary1);
    color: #fff;
    line-height: 1.2;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55px;
}

.MuiButton-root.login-btn-full:hover {
    background-color: var(--primary2);
}

.login-form .sentence {
    font-size: 13px;
    text-align: center;
    margin-top: 25px;
    color: var(--text2);
    cursor: default;
}

.login-form .sentence .forgot-pw:hover {
    color: var(--primary2);
}

.login-form .sentence .sign-up:hover {
    color: var(--primary2);
}


/*회원가입 & 비번찾기*/
.signup-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: var(--bg-page1);
}

.signup-container .signup-modal {
    width: 390px;
    background-color: var(--bg-card1);
    border-radius: 10px;
    overflow: hidden;
    padding: 77px 55px 33px 55px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}


.signup-container .signup-modal input.MuiInputBase-input{
    color:var(--text1);
    border-bottom: 1px solid var(--form-border);

}

.signup-container .signup-modal label.MuiFormLabel-root{
    color:var(--text1);
}

.signup-modal .stepper-container {
    width: 100%;
    margin-top: 50px;
}

.step1-container .email-input {
    width: 67%;
    margin-right: 3%;
    color: var(--text1);
    height: 55px;
}

.step1-container .email-chk {
    width: 30%;
    height: 41px;
    margin-top: 24px;
}

.step2-container .signup-inputs span {
    color: var(--text3);
    margin-right: 20px;
}

.step2-container .signup-inputs .sex-btn {
    width: 35%;
    margin-right: 10px;
    border-color: var(--form-border);
    color: var(--text2);
}

.step2-container .signup-inputs .MuiButton-contained {
    background-color: var(--primary1);
    border:none;
    color: #fff;
}
.step2-container .signup-inputs .birth-input {
    width: 84%;
    height: 30px;
    margin-top: -10px;
    font-size: 15px;
    float: right;
    color: var(--text3);
    border: none;
    border-bottom: 2px solid var(--text3);
}


.step2-container .signup-inputs .birth-input:focus {
    outline: 0;
}

.step2-container .back-btn, .join-btn {
    font-size: 17px;
    height: 55px;
    width: 100%;
}


.signup-form .signup-logo {
    display: block;
    margin: 0 auto;
    width: 180px;
}

.signup-form .signup-title {
    margin: 60px 0 30px;
    font-size: 20px;
    color: var(--text2);
    font-weight: bold;
    line-height: 1.2;
}

.signup-form .signup-inputs {
    width: 100%;
    position: relative;
    margin-bottom: 37px;
}

.signup-form .signup-inputs[class~=email-wrapper] {
    display: flex;
}

.signup-form .signup-inputs .email-chk {
    width: 100px;
    padding: 0 10px;
    margin-left: 15px;
}

.signup-form .signup-inputs .signup-input {
    font-size: 15px;
    color: var(--text2);
    line-height: 1.2;
    border: none;
    border-bottom: 2px solid var(--text3);
    display: block;
    width: 100%;
    height: 45px;
    background-color: transparent;
    padding: 0 5px;
}

.signup-form .signup-inputs .signup-input:focus {
    outline: 0;
}

.MuiButton-root.btn-full {
    margin-top: 15px;
    font-size: 17px;
    background-color: var(--primary1);
    line-height: 1.2;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55px;
    color: #fff;
}

.MuiButton-root.btn-full:hover {
    background-color: var(--primary2);
}

.forgot-pw-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: var(--bg-page1);
}

.forgot-pw-container .forgot-pw-modal {
    width: 390px;
    background-color: var(--bg-card1);
    border-radius: 10px;
    overflow: hidden;
    padding: 77px 55px 33px 55px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

.password-form-container .email-input {
    width: 67%;
    margin-right: 3%;
    color: var(--text1);
    height: 55px;
}
.password-form-container .email-chk {
    width: 30%;
    height: 41px;
    margin-top: 24px;
}

/*회원가입 완료*/

.finish-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: var(--bg-element1);
}

.finish-container .finish-modal {
    width: 390px;
    padding: 30px;
    background-color: var(--bg-element1);
    text-align: center;
    line-height: 1.66;
    border: 1px solid var(--primary1)
}

.finish-container .finish-modal .finish-btn {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    background-color: var(--primary1);
    color: #fff;
}



/*블로그 - 메인화면*/
.posting-container {
    background-color: var(--bg-page1)
}

.postcard-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0;
    background-color: var(--bg-page1);
}

.postcard-wrapper div.MuiPaper-root {
    background-color: var(--bg-card1);
}


.postcard-wrapper span.MuiTypography-root{
    color: var(--text1);
}
.postcard-wrapper button.MuiButtonBase-root {
    color: var(--text1);
}

#postcard-summary{
    margin-top:8px;
    color:var(--text3);
    overflow-x: hidden;
    text-overflow: ellipsis;
    display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.35em;
}


/*블로그 - 검색화면*/
.search-container {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
}

.search-description {
    margin-top: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: var(--text1)
}

.input-wrapper {
    display: flex;
    align-items: center;
    cursor: text;
    height: 4rem;
    padding: 0 1.5rem;
    border: 1px solid var(--text1);
}

.input-wrapper input {
    width: 100%;
    font-size: 1.5rem;
    line-height: 1rem;
    height: 2rem;
    border: none;
    background-color: var(--bg-element1);
    color: var(--text1);
}

.input-wrapper input:focus {
    outline: none;
}

.input-wrapper .search-input {
    background-color: var(--bg-page1);
}

/*블로그 - 마이페이지*/
.mypage-container .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 768px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
}

.intro-container {
    display: flex;
    align-items: center;
    width: 768px;
}

.intro-container .make-introMd {
    height: 300px;
    border: 2px solid var(--form-border);
    border-radius: 4px;
    text-align: center;
}

.intro-container .make-introMd button {
    background-color: var(--primary1);
    font-size: 16px;
    color: #fff;
    padding: 15px;
    width: 30%;
    border: none;
    border-radius: 10px;
    margin-top: 15%;
}


/*포스팅 디테일 - 글*/
.posting-header-area {
    max-width: 770px;
    margin: 3rem auto 0 auto;
}

.posting-header-area h1 {
    text-align: left;
}

.posting-info {
    text-align: left;
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.posting-info .bolder {
    margin-right: 10px;
}

.posting-info ul {
    text-decoration: none;
}

.posting-info li {
    float: left;
    margin-right: 5px;
    color: var(--text2)
}

.posting-info li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.content-container .tag-list {
    margin: 1rem 0;
    text-align: left;
}

.content-container .tag-list .tag {
    color: #fff;
}


.posting-contents-area {
    max-width: 770px;
    margin: 0 auto 5rem auto;
}

.posting-contents-area {
    max-width: 770px;
    margin: 0 auto 5rem auto;
}


.posting-comment-area {
    max-width: 770px;
    margin: 0 auto 5rem auto;
}
.posting-comment-area textarea {
    resize: none;
    border: 1px solid var(--text4);
    background-color: var(--bg-card1);
    border-radius: 5px;
}

.comment-input {
    margin: 15px 0;
    width: 100%;
    height: 69px;
    color: var(--text1);
}

.comment-input:focus {
    outline: none;
}

.comment-btn {
    float: right;
    height: 30px;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: var(--primary2);
}

.comment-area {
    margin-top: 100px;
}

.comment-area .comment-container {
    margin: 20px 0;
    padding: 15px 0;
}

.comment-area .profile-wrapper {
    display: flex;
    justify-content: space-between;
}

.comment-area .profile-wrapper .profile {
    display: flex;
    align-items: end;
}

.comment-area .profile-wrapper img {
    width: 45px;
    margin-right: 5px;
}

.comment-area .user-info .username {
    font-weight: bold;
    margin-bottom: 7px;
}

.comment-area .edit-btns {
    color: var(--text3);
    cursor: pointer
}

.comment-area .edit-btns span:hover {
    border-bottom: 1px solid var(--text3);
}

.comment-area .edit-btns .edit::after {
    content: "  |  "
}


.comment-area .comment-contents {
    margin: 10px 0;
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: -0.004em;
    word-break: keep-all;
    overflow-wrap: break-word;
}

.comment-area .add-comment {
    color: var(--primary2);
    font-weight: bold;
}

.comment-area .add-comment:hover {
    color: var(--primary1);
    cursor: default;
}

.comment-area .add-comment span {
    vertical-align: baseline
}

.comment-area .child-comment-container {
    margin-top: 10px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.016);
    border-radius: 4px;
}

.comment-area .child-comment-container p {
    margin-top: 15px;
}

.comment-area .child-comment-container p span.mention {
    margin-right: 5px;
    font-weight: bold;
    cursor: default
}

.comment-area .child-comment-container p span.mention:hover {
    text-decoration: underline;
}

.comment-area .child-comment-input {
    margin: 10px 0;
    padding: 20px 0;
}

.comment-area .child-comment-input .mentions-input {
    position: relative;
    height: 3.5rem;
    margin-bottom: 10px;
}


/* 새글쓰기 */
.posing-write-container button.MuiButtonBase-root {
    color: #fff;
}


/*블로그*/
.MuiCardContent-root css-46bh2p-MuiCardContent-root {

}

/************ 반응형 **************/
@media (max-width: 1024px) {
    /*코드 작성 영역*/
}


/************ 반응형 - 테블릿 **************/
@media (max-width: 767px) {

}


/************ 반응형 - 모바일**************/
@media (max-width: 480px) {

}



